services:
  prometheus:
    image: prom/prometheus:v2.51.2
    restart: unless-stopped
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --web.enable-lifecycle
    ports:
      - "9090:9090"
    volumes:
      - ${APP_DATA_DIR}/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ${APP_DATA_DIR}/data/prometheus:/prometheus

  node-exporter:
    image: prom/node-exporter:v1.8.1
    restart: unless-stopped
    pid: host
    command:
      - --path.rootfs=/host
    volumes:
      - /:/host:ro,rslave
    ports:
      - "9100:9100"
